@import url('https://fonts.cdnfonts.com/css/impact');
@import url('https://fonts.cdnfonts.com/css/inria-sans');
@import url(' https://fonts.cdnfonts.com/css/inter ');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header{
    max-width: 1140px;
    width: 100%;
    margin: 12px 80px;
    margin-bottom: 76px;
  }
  .headerContainer{
    max-width: 980px;
    width: 100%;
  }
  .logo{
    display: inline-block;
    vertical-align: middle;
    padding: 13.489px;
    align-items: center;
  }
  .navigation{
    font-family: 'Inter', sans-serif;
    vertical-align: middle;
    display: inline-block;
    margin-left: 150.17px;
    margin-right: 150.17px;
  }
  .contact_us{
    font-family: 'Inter', sans-serif;
    vertical-align: middle;
    border-radius: 8px;
    padding: 8px 16px;
    background: #E9D7FE;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid #AC00FF;
  }
  .contact_us a{
    text-decoration: none;
    color: #AC00FF;

  }
  .navigation a{
    text-decoration: none;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    margin-left: 20px;
  }

  .mainContainer{
    margin-left: 214px;
    max-width: 841px;
    width: 100%;
  }

  .mainContainer h1{
    font-family: 'Impact', sans-serif;
    margin-bottom: 24px;
    max-width: 720px;
    width: 100%;
    font-size: 63px;
    color: #323232;
    font-weight: 400;
    line-height: 74px;
  }
  .mainContainer p{
    font-family: 'Inria Sans', sans-serif;
    margin-bottom: 24px;
    max-width: 841px;
    width: 100%;
    color: #323232;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
  }
  .joinNow{
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    max-width: 204px;
    padding: 16px 24px;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
    background: #5C3BAE;
    border-radius: 8px;
    border: 1px solid #5C3BAE;
  }
  .watchVideo{
    display: inline-block;
  }
  .play-icon{
    vertical-align: middle;
    margin-right: 12px;
    margin-left: 24px;
  }
  .watch{
    font-family: 'Inter', sans-serif;
    vertical-align: middle;
    color: #4D3491;
    text-decoration: underline;
    font-size: 18px;
    font-weight: 500;
    line-height: 21.78px;
  }
  .buttonJoin{
    max-width: 422px;
    width: 100%;
    margin-top: 24px;
    display: inline-block;
  }
  .cardsLeft{
    display: block;
    text-align: right;
    margin-left: auto;
  }
  .cardsLeft img{
    max-width: 1311px;
    width: 100%;
    display: block;
    margin-left: auto;
  }